<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/buy.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/buy.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
</head>
<body>
<div class="Content clearfix">
    <input type="hidden" id="resultArg" value="">
<div class="Navigation">
    <div class="Navigation_main">
        <ul id="ul_first" style="padding-left: 0px;margin-bottom: 0px;">
            <!--品牌专区 start-->

            <li class="clearfix">
                <span class="nav_title">品牌</span>
                <div class="li_main clearfix">
                    <div id="brandMoreDiv" class="More_brand clearfix" style="display: block;">
                        <!--字母列表-->
                        <ul class="ul_E">
                            <li><a href="javascript:;" class="brandLetter current" data-ddbox="ddbox" data-letter="A">A</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="B">B</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="C">C</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="D">D</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="D">E</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="F">F</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="G">G</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="H">H</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="I">I</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="J">J</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="K">K</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="L">L</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="M">M</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="N">N</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="O">O</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="P">P</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="Q">Q</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="R">R</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="S">S</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="T">T</a></li>
                            <li><a href="javascript:;" class="brandLetter " data-ddbox="ddbox" data-letter="V">V</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="W">W</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="X">X</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="Y">Y</a></li>
                            <li><a href="javascript:;" class="brandLetter" data-ddbox="ddbox" data-letter="Z">Z</a></li>
                        </ul>
                        <ul class="ul_C" id="brandlist_A">
                            <input type="hidden" > <a class="current-sel" href=href="javascript:void(0)">不限</a></li></input>
                        </ul>
                        <ul class="ul_C" id="brandlist_B" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_C" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_D" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_E" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_F" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_G" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_H" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_I" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_J" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_K" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_L" style="display: none;">

                        </ul>
                        <ul class="ul_C" id="brandlist_M" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_N" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_O" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_P" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_Q" style="display: none;">

                        </ul>
                        <ul class="ul_C" id="brandlist_R" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_S" style="display: none;">

                        </ul>
                        <ul class="ul_C" id="brandlist_T" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_V" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_W" style="display: none;">

                        </ul>
                        <ul class="ul_C" id="brandlist_X" style="display: none;">

                        </ul>
                        <ul class="ul_C" id="brandlist_Y" style="display: none;">
                        </ul>
                        <ul class="ul_C" id="brandlist_Z" style="display: none;">

                        </ul>
                    </div>
                </div>
            </li>


            <li class="clearfix">
                <span class="nav_title">车价</span>
                <div class="li_main clearfix">
                    <ul class="ul_second new-ul-list2 ul_cj "style="padding-left: 0px;">
                        <li class="no-xian"><a class="current-sel" href="javascript:void(0)">不限</a></li>
                        <li><a class="" href="javascript:void(0)" rel="nofollow">3万内</a></li>
                        <li><a class="" href="javascript:void(0)" rel="nofollow">3-8万</a></li>
                        <li><a class="" href="javascript:void(0)" rel="nofollow">8-15万</a></li>
                        <li><a class="" href="javascript:void(0)" rel="nofollow">15-30万</a></li>
                        <li><a class="" href="javascript:void(0)" rel="nofollow">30-50万</a></li>
                        <li><a class="" href="javascript:void(0)" rel="nofollow">50-100万</a></li>
                        <li><a class="" href="javascript:void(0)" rel="nofollow">100万以上</a></li>
                    </ul>
                </div>
            </li>

            <!--价格 end-->
            <!--级别 start-->
            <li class="clearfix">
                <span class="nav_title">级别</span>
                <div class="li_main clearfix">
                    <!--级别列表-->
                    <ul class="ul_second ul_jb clearfix new-ul-list2 " id="levelList" style="padding-left: 0px;display: block ">
                        <li class="no-xian"><a href="javascript:void(0)" class="current-sel">不限</a></li>
                        <li><a class="" href="javascript:void(0)">微型车</a></li>
                        <li><a class="" href="javascript:void(0)">小型车</a></li>
                        <li><a class="" href="javascript:void(0)">中型车</a></li>
                        <li><a class="" href="javascript:void(0)">中大型车</a></li>
                        <li><a class="" href="javascript:void(0)">跑车</a></li>
                        <li><a class="" href="javascript:void(0)">面包车</a></li>
                    </ul>
                </div>
            </li>
            <!--级别 end-->
            <!--其它筛选 start-->
            <li class="clearfix last_li">
                <span class="nav_title">其他</span>
                <div class="li_main clearfix">
                    <ul class="ul_second ul_other default_height"  style="padding-left: 0px;" id="otherList">
                        <!--车龄 start-->
                        <li id="li_age">
                            <div id="a_age" class="para">
                                <a href="javascript:;" data-ddbox="ddbox">车龄</a>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                            <div id="div_age" class="ul_pop ddbox_div" style="display: none;">
                                <ul class="ul_list ul_fixed_three">
                                    <li class="no-xian"><a class="current"  href="javascript:void(0)">不限</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">1年内</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">2年内</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">3年内</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">3-5年</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">5-8年</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">8年以上</a></li>
                                </ul>
                            </div>
                        </li>
                        <!--车龄 end-->
                        <!--里程 start-->
                        <li id="li_mileage">
                            <div id="a_mileage" class="para">
                                <a href="javascript:;" data-ddbox="ddbox">里程</a>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                            <div id="div_mileage" class="ul_pop ddbox_div" style="display: none;">
                                <ul class="ul_list ul_fixed_two">
                                    <li class="no-xian"><a class="current" href="javascript:void(0)">不限</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">1万公里内</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">3万公里内</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">5万公里内</a></li>
                                    <li><a class="" href="javascript:void(0)" rel="nofollow">10万公里内</a></li>
                                </ul>
                            </div>
                        </li>
                        <!--颜色 start-->

                        <li id="li_color">
                            <div id="a_color" class="para">
                                <a href="javascript:;" data-ddbox="ddbox">颜色</a>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                            <div id="div_color" class="ul_pop_long ddbox_div" style="display: none;">
                                <ul id="ul_color" class="ul_list ul_fixed_two">
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="1"
                                                          class="check icon_check "></i>黑色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="2"
                                                          class="check icon_check "></i>银灰色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="3"
                                                          class="check icon_check "></i>白色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="4"
                                                          class="check icon_check "></i>红色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="5"
                                                          class="check icon_check "></i>蓝色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="6"
                                                          class="check icon_check "></i>深灰色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="7"
                                                          class="check icon_check "></i>香槟色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="8"
                                                          class="check icon_check "></i>绿色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="9"
                                                          class="check icon_check "></i>黄色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="10"
                                                          class="check icon_check "></i>橙色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="11"
                                                          class="check icon_check "></i>咖啡色
                                    </li>
                                    <li data-ddbox="1"><i data-ddbox="1" name="tag_feature" data-value="12"
                                                          class="check icon_check "></i>紫色
                                    </li>

                                </ul>
                                <div class="btn_group">
                                    <a href="javascript:void(0)" class="btn_ClassUsm_bg ddbox_ok btn_disabled_bg" id="colorOk">确认</a>
                                    <a href="javascript:void(0)" class="btn_ClassUsm_bor ddbox_cancel" id="colorCancel">取消</a>
                                </div>
                            </div>
                        </li>

                        <!--颜色 end -->
                        <!--能源 start-->

                       <!-- <li id="li_energy">
                            <div id="a_energy" class="para">
                                <a href="javascript:;" data-ddbox="ddbox">能源</a>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                            <div id="div_energy" class="ul_pop_Short ddbox_div" style="display: none;">
                                <ul class="ul_list ul_fixed_two">
                                    <li class="no-xian"><a class="current" href="/all/">不限</a></li>
                                    <li><a class="" href="/buycar/pgesbxcdzaoqtr0nml/" rel="nofollow">汽油</a></li>
                                    <li><a class="" href="/buycar/pgesbxcdzaoqtr1nml/" rel="nofollow">柴油</a></li>
                                    <li><a class="" href="/buycar/pgesbxcdzaoqtr2nml/" rel="nofollow">油气混动</a></li>
                                    <li><a class="" href="/buycar/pgesbxcdzaoqtr3nml/" rel="nofollow">油电混动</a></li>
                                    <li><a class="" href="/buycar/pgesbxcdzaoqtr4nml/" rel="nofollow">纯电动</a></li>
                                    <li><a class="" href="/buycar/pgesbxcdzaoqtr7nml/" rel="nofollow">天然气</a></li>
                                    <li><a class="" href="/buycar/pgesbxcdzaoqtr8nml/" rel="nofollow">插电混动</a></li>
                                </ul>
                            </div>
                        </li>-->

                        <!--能源 end-->
                        <!--座位数 start-->

                        <!--<li id="li_pedestal" >
                            <div id="a_pedestal" class="para">
                                <a href="javascript:;" data-ddbox="ddbox">座位数</a>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                            <div id="div_pedestal" class="ul_pop_Short ddbox_div" style="display: none;">
                                <ul class="ul_list ul_fixed_two">
                                    <li class="no-xian"><a class="current" href="/all/">不限</a></li>
                                    <li><a class="" href="" rel="nofollow">2座</a></li>
                                    <li><a class="" href="" rel="nofollow">4座</a></li>
                                    <li><a class="" href="" rel="nofollow">5座</a></li>
                                    <li><a class="" href="" rel="nofollow">6座</a></li>
                                    <li><a class="" href="" rel="nofollow">7座</a></li>
                                    <li><a class="" href="/buycar/pgesbxcdzaoqtrn10ml/" rel="nofollow">7座以上</a></li>
                                </ul>
                            </div>
                        </li>-->

                        <!--座位数 end-->
                    </ul>
                </div>
            </li>
            <!--其它筛选 end-->
        </ul>
    </div>
</div>
</div>

<input type="hidden" value="" id="args">
<iframe id="J_iframe" name="J_iframe" width="100%" height="100%" src="/item" frameborder="0" seamless=""
        scrolling="auto"></iframe>

</body>
</html>