<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.pagination.min.js"></script>

    <link rel="stylesheet" href="css/car_center.css"/>
    <link rel="stylesheet" href="css/jquery.pagination.css">
</head>

<body>
<div id="main">
    <div id="user_center">
        <div class="tables">
			<div class=" disable table status_evaluate">
				<div class="head">
					<span class="time"></span>
					<span class="text"></span>
				</div>
				<table>
					<tr>
						<td class="image" width="190px"><img
								src="" alt=""></td>
						<td class="info" width="170px">
							<div class="tittle"></div>
						</td>
						<td class="amount" width="200px"></td>
						<td class="pay" width="140px" rowspan="1">
							<div class="money"></div>
							<div></div>
						</td>
						<td class="operate" width="180px" rowspan="1">
							<button class="say_btn">下架</button>
						</td>
					</tr>
				</table>
			</div>

			<div class=" disable table status_evaluate">
				<div class="head">
					<span class="time"></span>
					<span class="text"></span>
				</div>
				<table>
					<tr>
						<td class="image" width="190px"><img
								src="" alt=""></td>
						<td class="info" width="170px">
							<div class="tittle"></div>
						</td>
						<td class="amount" width="200px"></td>
						<td class="pay" width="140px" rowspan="1">
							<div class="money"></div>
							<div></div>
						</td>
						<td class="operate" width="180px" rowspan="1">
							<button class="say_btn">下架</button>
						</td>
					</tr>
				</table>
			</div>

			<div class=" disable table status_evaluate">
				<div class="head">
					<span class="time"></span>
					<span class="text"></span>
				</div>
				<table>
					<tr>
						<td class="image" width="190px"><img
								src="" alt=""></td>
						<td class="info" width="170px">
							<div class="tittle"></div>
						</td>
						<td class="amount" width="200px"></td>
						<td class="pay" width="140px" rowspan="1">
							<div class="money"></div>
						</td>
						<td class="operate" width="180px" rowspan="1">
							<button class="say_btn">下架</button>
						</td>
					</tr>
				</table>
			</div>
        </div>
    </div>
	<div id="paginationpage" class="page " style="margin-top: 80px"></div>
</div>

</body>

</html>