<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/content.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
</head>
<body>

<div style="text-align: center">
    <img src="css/images/dv.jpg">
</div>
<div class="index-entry-buysell w1200 " style="margin-bottom: 20px;">
    <div class="lineleft"></div>
    <div class="lineright"></div>
    <!-- 买车 s -->
    <div class="entry-buycar float-l">
        <div class="entry-title clearfix">
            <a href="/ty/buy/" class="float-l">我要买车<i
                    class="icon-buysell"></i></a>
            <!-- input在focus状态下，最外层div添加class名active -->

        </div>
        <div class="buycar-brand clearfix">
            <a href="/ty/dazhong/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/dazhong.png">大众</a>
            <a href="/ty/honda/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/honda.png">本田</a>
            <a href="/ty/buick/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/buick.png">别克</a>
            <a href="/ty/toyota/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/toyota.png">丰田</a>
            <a href="/ty/ford/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/ford.png">福特</a>
            <a href="/ty/richan/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/richan.png">日产</a>
            <a href="/ty/bmw/" d>
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/bmw.png">宝马</a>
        </div>
        <div class="buycar-brand clearfix marginTop13">
            <a href="/ty/benz/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/benz.png">奔驰</a>
            <a href="/ty/hyundai/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/hyundai.png">现代</a>
            <a href="/ty/audi/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/audi.png">奥迪</a>
            <a href="/ty/chevrolet/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/chevrolet.png">雪佛兰</a>
            <a href="/ty/jili/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/jili.png">吉利</a>
            <a href="/ty/hafu/">
                <img src="//sta.guazistatic.com/static/c2c/web/che-logo/hafu.png">哈弗</a>
            <a href="/ty/buy/?fromindex=true" class="icon-buycar-more all-brand-hover"
            >全部品牌</a>
        </div>
        <div class="buycar-price">
            <a href="/ty/buy/p11/">3万以下</a>
            <a href="/ty/buy/p12/">3-5万</a>
            <a href="/ty/buy/p13/">5-7万</a>
            <a href="/ty/buy/p14/">7-9万</a>
            <a href="/ty/buy/p15/">9-12万</a>
            <a href="/ty/buy/p16/">12-16万</a>
            <a href="/ty/buy/p17/">16-20万</a>
        </div>
        <div class="buycar-price marginTop7">
            <a href="/ty/buy/r16/">超值</a>
            <a href="/ty/buy/r3/">急售</a>
            <a href="/ty/buy/r8/">练手车</a>
            <a href="/ty/buy/r4/">准新车</a>
            <a href="/ty/buy/r18/">严选车</a>
            <a href="/ty/buy/h2/">SUV</a>
            <a href="/ty/buy/" rel="nofollow" class="">查看更多</a>
        </div>
    </div>
    <!-- 买车 e -->
    <!-- 卖车 s -->
    <div class="entry-sellcar fr" style="width: 457.5px;">
        <div class="sunhonglei"></div>
        <div class="entry-title clearfix">
            <a href="/sell" id="sellcar"  class="fl">我要卖车
                <i class="icon-buysell"></i></a>
            <div class="sellcar-show fr" style="padding-right: 30px;">
                <p class="amount">公平公正,高价快速卖车</p>
            </div>
        </div>
        <div class="sellcar-box clearfix ">
            <!-- 文本框输入错误时加active -->
            <div class="sellcar-phone js-sellcar-phone clearfix onblue">
                <input class="phone-input " style="height: 55px;width: 255px" maxlength="11" placeholder="请输入您的手机号">
                <div class="phone-btn-right js-phone-btn" position="4">预约卖车
                </div>
                <p class="phone-error js-phone-error"></p>
                <button class="phone-btn-sell js-subAssess">爱车估价
                </button>
                <a href="/ty/sellAssureIntro">
                    <button class="phone-btn-eval">保卖服务</button>
                </a>
                <!-- https://www.guazi.com/bj/sellAssureIntro -->
            </div>
        </div>
    </div>
</div>
<div class="index-carlist-bg ">
    <div class="index-carlist-title">热卖车型</div>
</div>


<script src="js/content.js"></script>
</body>
</html>