<!DOCTYPE html>
<html lang="en " style="height: 100%">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<style>

</style>
<body style="height: 100%">
<div class="shortcut">
    <div class="w1200 clearfix">
        <div class="back-home float-l">
            <img class="logo" src="css/images/home.png">
            <a id="index" href="javascript:void(0)" title="" class="back-link">易购首页</a>
        </div>
        <div class="nva-list clearfix  float-r">
            <a class="float-l " id="buy" href="javascript:void(0)" >我要买车</a>
            <a class="float-l " id="sell"href="javascript:void(0)" >我要卖车</a>
            <div class="float-l">
                <span style="margin-right: 3px">欢迎来到易购</span>
                <a href="#" id="login-car" style="display: inline-block;color: red">登录</a>
                <input type="hidden" id="type" value="">
            </div>
            <div class="float-l">
                <img class="logo" src="css/images/my.png">
                <a class="" id="myOrder" href="javascript:void(0)">我的订单</a>
            </div>
            <div class="float-l">
                <img class="logo" src="css/images/store.jpg">
                <a class="" id="store" href="javascript:void(0)">我是商家</a>
            </div>
        </div>
    </div>
</div>
<div class="tc-header">
    <div class="w1200">
        <div class="logo"><a href="//www.taoche.com" title="易购网"></a></div>

        <div class="search clearfix">
            <input type="text" id="tc_search_txtErshouche" name="tc_search_txtErshouche" autocomplete="off"
                   placeholder="搜“SUV”试试">
            <a class="search-btn" href="javascript:;" id="tc_search_btnErshouche">搜索</a>
        </div>
    </div>
</div>

<div class="nav_menu">
    <ul id="ul_menu" class="area clearfix">
        <li class="home current"><a logwt="navigation_home" class="link"  _islog="1"> <span>首页</span>
        </a> <em class="spacer"></em></li>
        <li id="tc_top_liMenuErshouche" class=""><a id="tc_top_menuErshouche"
                                                           _islog="1"> <span>买车</span> </a> <em class="spacer"></em>
        </li>
        <li><a class="link"  _islog="1"> <span>卖车</span> </a> <em class="spacer"></em></li>

    </ul>
</div>


<iframe id="J_iframe" name="J_iframe" width="100%" height="100%" src="/content" frameborder="0" seamless=""
        scrolling="no"></iframe>


<div class="ft-copy"><p><span>京ICP备案号：京ICP备15006372号-5</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>经营许可证编号：京B2-20190486</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a target="blank"
                                                                        href="https://img1.yixinfinance.com/taoche/images/TV.jpeg">广播电视节目制作经营许可证：（京）字第13053号</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a target="_blank" type="file" file-name="网络文化经营许可证：京网文【2019】 1767-167号"
                                      href="http://img1.yixinfinance.com/taoche/wangluowenhua.pdf"
                                      download-url="http://img1.yixinfinance.com/taoche/wangluowenhua.pdf"
                                      title="网络文化经营许可证：京网文【2019】 1767-167号">网络文化经营许可证：京网文【2019】 1767-167号</a></p>
    <p style="margin-top:8px"><span>CopyRight&nbsp;©&nbsp;2015-2020 taoche.com版权所有&nbsp;&nbsp;北京淘车科技有限公司</span> <img
            class="ft-rc3" src="//image.bitautoimg.com/taoche/2018_pc_usedcar/adv-group.png" alt="广告"></p></div>

<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/login.js"></script>
</body>
</html>