<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/myinfo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
</head>
<body>
<div class="pagewrap clrfix user_myComment"style="height: 690px;" >
    <article class="user_nav_box" id="userLeft" style="height: 690px;">
        <div class="user_photo_box">
            <div class="user_photo">
                <img src="//img1.yixinfinance.com/taoche/passport/myorders/images/user_photo_bg.html.png?v=201908011708" class="user_photo_bg">
                <img src="https://img4.bitautoimg.com/jinrong/newpcweb/css/gerenzhongxin/images/car-007.png" class="photo">
            </div>
            <div class="user_name"><span id="user_context"></span></div>
        </div>
        <nav class="user_nav">
            <ul class="user_ul" style=" padding-left: 0px;">
                <li ><a class="curr"  href="javascript:void(0)">我的发布<i class="tip_r bi bi-chevron-right"></i></a></li>
                <li><a href="javascript:void(0)">我的收藏<i class="tip_r bi bi-chevron-right"></i></a></li>
                <li><a href="javascript:void(0)">待处理车源<i class="tip_r bi bi-chevron-right"></i></a></li>

                <li><a href="javascript:void(0)">个人资料<i class=" tip_r bi bi-chevron-right"></i></a></li>
                <li><a href="javascript:void(0)">修改密码<i class="tip_r bi bi-chevron-right"></i></a></li>
            </ul>
        </nav>

        <!-- 二维码弹层 -->
    </article>
    <section class="maincont fl" id="userRight" style="height: 690px;">
        <!-- nav start -->
        <!-- nav end -->
        <!-- order start -->
        <div class="content_area">
            <div class="content_wrapper">
                <iframe id="iframe"  width="948" height="100%" frameborder="0" scrolling="no" src=""></iframe>
            </div>
        </div>
        <!-- order end -->
    </section>
</div>
</body>
<script type="text/javascript" src="js/myinfo.js"></script>
</html>