<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mycollect.css">
</head>

<body >
<div class="p-service">
    <div class="p-cont-wrap">
        <div class="">
            <div class="p-cont-title clearfix">
                <div class="float-l ct-txt">我加购的车源</div>
            </div>
            <!-- 没有求购 -->
            <div id="divEmpty" class="p-cont-null">
                <div class="content_main">
                    <img src="//image.bitautoimg.com/taoche/2018_pc_usedcar/error-num.png" alt="">
                    <div class="font_main">
                        <h2>暂时没有加购的二手车，不妨看看别人的车！</h2>
                    </div>
                </div>
            </div>
            <!-- 列表 -->

        </div>
    </div>
</div>


</body>
</html>