<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/pinggu.css">
</head>
<body>
<div class="assessment-top slider-root-box">
    <!--焦点图start-->
    <div class="slider-list">
        <ul id="index_focus_pic">
            <li class="swiper-slide active" style="width: 1911.5px;"><a href="javascript:;">
                <img src="//st1.taoche.cn/taoche/web/bannerpinggu.jpg" width="1920">
            </a>
            </li>
            <li class="swiper-slide active" style="width: 1911.5px;">
                <ins id="div_9d64cd61-65ab-4a51-8541-3a8f3724873d" data-type="ad_play" data-adplay_ip="" data-adplay_areaname="" data-adplay_cityname="" data-adplay_brandid="" data-adplay_brandname="" data-adplay_brandtype="" data-adplay_blockcode="9d64cd61-65ab-4a51-8541-3a8f3724873d"> </ins>
            </li>
            <li class="swiper-slide active" style="width: 1911.5px;">
                <ins id="div_59c5690f-e293-4db3-968c-87f1f933a436" data-type="ad_play" data-adplay_ip="" data-adplay_areaname="" data-adplay_cityname="" data-adplay_brandid="" data-adplay_brandname="" data-adplay_brandtype="" data-adplay_blockcode="59c5690f-e293-4db3-968c-87f1f933a436"> </ins>
            </li> <li class="swiper-slide active" style="width: 1911.5px;">
            <ins id="div_ec735d33-574b-441a-a65f-58a270c74228" data-type="ad_play" data-adplay_ip="" data-adplay_areaname="" data-adplay_cityname="" data-adplay_brandid="" data-adplay_brandname="" data-adplay_brandtype="" data-adplay_blockcode="ec735d33-574b-441a-a65f-58a270c74228"> </ins>
        </li>
        </ul>
    </div>
    <div class="slider-menu-1">
        <ul style="z-index: 6">
        </ul>
    </div>
    <div class="clearfix"></div>
    <!--焦点图end-->

    <div class=" assessment-container">
        <div class="assessment-screen">
            <div class="assessment-screen-title">
                实时精准评估二手车
            </div>

            <div id="div_dropdownCar" class="form-sm">

                <div class="assessment-screen-but"><span class="btn btn-primary btn-xsm "><a id="evaluate_sell" href="javascript:;" logwt="PC_pinggu_shouye_sell">开始估价</a></span></div>

            </div>
        </div>
    </div>
</div>
</body>
</html>