<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/sell.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/sell.css">
</head>
<body>
<div class="dire-heard">
    <div class="zm-wrapper">
        <div class="newzm-r"><h3>免费检测评估</h3><!-- 输入手机号 -->

            <div class="newzm-mcbtn"><a href="javascript:void(0)" id="sell">免费卖车</a></div>
            <div class="newzm-gjbtn"><a href="javascript:void(0) ">免费估价</a>
            </div><!-- 咨询电话 -->
            <div class="newzm-tel">
                免费咨询电话：10100028
            </div>
        </div>
    </div>
</div>
<div class="dire-wrapper">
    <ul class="newzm-one">
        <li><img src="http://img1.yixinfinance.com/taoche/maiche/zhimai/images/icon1.d5efd9.png" alt="">
            <p><span>免费检测评估</span>
                专业评估师给您精准价格
            </p></li>
        <li><img src="http://img1.yixinfinance.com/taoche/maiche/zhimai/images/icon2.cc385c.png" alt="">
            <p><span>快速卖车价格高</span>
                最快当日即可成交
            </p></li>
        <li><img src="http://img1.yixinfinance.com/taoche/maiche/zhimai/images/icon3.57fe89.png" alt="">
            <p><span>全程一对一服务</span>卖车全程免费服务</p></li>
    </ul>
</div>
</body>
</html>